<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
	<meta http-equiv="X-UA-Compatible" content="ie=edge"/>

    <title>{% block title %}ReguTrack - Compliance Hub{% endblock %}</title>

    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="mobile-web-app-capable" content="yes"/>
    <meta name="HandheldFriendly" content="True"/>
    <meta name="MobileOptimized" content="320"/>
    <meta name="title" content="ReguTrack - Compliance Hub">
    <meta name="description" content="ReguTrack is a centralized automation hub for the Enterprise compliance team.">
    <meta name="author" content="ECAD">
    <link rel="icon" href="/static/icons/favicon.ico" type="image/x-icon"/>
	<link rel="shortcut icon" href="/static/icons/favicon.ico" type="image/x-icon"/>

    <meta name="csrf-token" content="{{ csrf_token() }}">
    
    <!-- Tabler CSS -->
    <link href="{{ url_for('static', filename='css/tabler.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">

    <!--Alpine JS-->
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
</head>
<body>
    <div class="page">
        {% include 'layouts/navbar.html' %}
        {% include 'layouts/navbar-menu.html' %}
        <div class="page-wrapper">
            <div class="page-header d-print-none">
                <div class="container-xl">
                    <div class="row g-2 align-items-center">
                        <div class="col">
                            <h2 class="page-title">
                                {% block page_title %}{% endblock %}
                            </h2>
                        </div>
                        <div class="col-auto ms-auto d-print-none">
                            <div class="btn-list">
                                {% block page_actions %}{% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <main class="page-body">
                <div class="container-xl">
                    <!--nav class="mb-3" aria-label="breadcrumb">
                        {% block breadcrumb %}
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="{{ url_for('user.dashboard') }}">
                                        <svg class="icon" xmlns="http://www.w3.org/2000/svg">
                                            <use href="{{ url_for('static', filename='icons/home.svg') }}#home"/>
                                        </svg>
                                    </a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">{% block meta_title %}{% endblock %}</li>
                            </ol>
                        {% endblock %}
                    </nav-->

                    {% block content %}{% endblock %}
                </div>
            </main>

            {% include 'layouts/footer.html' %}
        </div>
    </div>
    
    <!-- Tabler JS -->
    <script src="{{ url_for('static', filename='js/tabler.min.js') }}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>