<div class="d-inline-block">
    <div class="d-flex">
        <form method="get">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <input type="hidden" name="_url" value="{{ request.path }}">
            <div class="input-group input-group-flat">
                <input class="form-control"
                    type="search"
                    name="search"
                    value="{{ request.args.get('search', '') }}"
                    placeholder="Enter search text..."
                    aria-label="Search">
                <span class="input-group-text">
                    <a class="link-secondary"
                        href="{{ request.path }}?show_filter=1"
                        data-bs-toggle="tooltip"
                        data-bs-original-title="Search settings">
                        <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24">
                            <use xlink:href="{{ url_for('static', filename='icons/settings.svg') }}#settings"/>
                        </svg>
                    </a>
                </span>
                <button class="btn btn-icon">
                    <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24">
                        <use xlink:href="{{ url_for('static', filename='icons/search.svg') }}#search"/>
                    </svg>
                </button>
            </div>
        </form>
    </div>
</div>