<div class="sidebar">
    <ul class="nav flex-column">
        <li class="nav-item">
            <h5 style="color: #A8E6CF;">Home</h5>
            <a class="nav-link" href="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
            <h5 style="color: #A8E6CF;">HMDA</h5>
            <a class="nav-link" href="/hmda">All HMDA Reports</a>
            <a class="nav-link" href="#">Create New Report</a>
        </li>
        <li class="nav-item mt-2">
            <h5 style="color: #A8E6CF;">Workflow</h5>
            <a class="nav-link" href="/workflows">All Workflows</a>
            <a class="nav-link" href="#">Create New Workflow</a>
        </li>
    </ul>
</div>
